-- CreateEnum
CREATE TYPE "UserRole" AS ENUM ('DINER', 'STAFF', 'MANAGER', 'ADMIN');

-- CreateEnum
CREATE TYPE "TableStatus" AS ENUM ('AVAILABLE', 'OCCUPIED', 'CLOSING');

-- CreateEnum
CREATE TYPE "SessionStatus" AS ENUM ('OPEN', 'CLOSING', 'CLOSED', 'ABANDONED');

-- CreateEnum
CREATE TYPE "HoldStatus" AS ENUM ('NONE', 'PENDING', 'HELD', 'FAILED', 'RELEASED', 'EXPIRED', 'REAUTHORIZING');

-- CreateEnum
CREATE TYPE "CaptureStatus" AS ENUM ('PENDING', 'PROCESSING', 'CAPTURED', 'FAILED', 'SKIPPED');

-- CreateEnum
CREATE TYPE "PaymentStatus" AS ENUM ('NOT_STARTED', 'PROCESSING', 'PAID', 'FAILED', 'REFUNDED');

-- CreateEnum
CREATE TYPE "TipBehavior" AS ENUM ('ASK', 'AUTO_18', 'AUTO_20', 'AUTO_22', 'AUTO_NONE');

-- CreateEnum
CREATE TYPE "TipSource" AS ENUM ('DINER_CHOICE', 'DINER_DECLINED', 'TIMEOUT_DEFAULT', 'AUTO_PREF');

-- CreateEnum
CREATE TYPE "TipStatus" AS ENUM ('NOT_APPLICABLE', 'AWAITING', 'RESOLVED');

-- CreateEnum
CREATE TYPE "TipDistributionMode" AS ENUM ('DIRECT', 'POOL');

-- CreateEnum
CREATE TYPE "TipPoolStatus" AS ENUM ('OPEN', 'CLOSED', 'DISTRIBUTED');

-- CreateEnum
CREATE TYPE "DepartureSource" AS ENUM ('DINER_SELF', 'STAFF_CLEARED', 'IDLE_TIMEOUT', 'FORCE_TIMEOUT');

-- CreateEnum
CREATE TYPE "OrderItemStatus" AS ENUM ('PENDING', 'CONFIRMED', 'PREPPING', 'SERVED', 'CANCELLED', 'CASH_PENDING');

-- CreateEnum
CREATE TYPE "PrintStatus" AS ENUM ('QUEUED', 'SENT', 'PRINTED', 'FAILED');

-- CreateEnum
CREATE TYPE "PrintType" AS ENUM ('CASH_RECEIPT', 'ORDER_TICKET');

-- CreateEnum
CREATE TYPE "InviteStatus" AS ENUM ('PENDING', 'ACCEPTED', 'EXPIRED');

-- CreateEnum
CREATE TYPE "ForecastStatus" AS ENUM ('DRAFT', 'REVIEWED', 'ORDERED');

-- CreateEnum
CREATE TYPE "StockAlertType" AS ENUM ('LOW_STOCK', 'PROJECTED_STOCKOUT', 'HIGH_WASTE', 'FORECAST_READY');

-- CreateEnum
CREATE TYPE "ServiceRequestType" AS ENUM ('WATER', 'REFILL', 'SILVERWARE', 'EXTRA_PLATE', 'TOGO_CONTAINER', 'HIGH_CHAIR', 'CLEAR_TABLE', 'SPEAK_TO_SERVER', 'CLOSE_TAB');

-- CreateEnum
CREATE TYPE "ServiceRequestStatus" AS ENUM ('OPEN', 'ACKNOWLEDGED', 'RESOLVED', 'CANCELLED');

-- CreateTable
CREATE TABLE "restaurants" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "passwordHash" TEXT NOT NULL,
    "logoUrl" TEXT,
    "address" TEXT,
    "city" TEXT,
    "state" TEXT,
    "zipCode" TEXT,
    "phone" TEXT,
    "currency" TEXT NOT NULL DEFAULT 'USD',
    "timezone" TEXT NOT NULL DEFAULT 'America/New_York',
    "taxRate" DECIMAL(5,4) NOT NULL DEFAULT 0.0600,
    "taxLabel" TEXT NOT NULL DEFAULT 'Sales Tax',
    "taxEnabled" BOOLEAN NOT NULL DEFAULT true,
    "defaultHoldAmount" INTEGER NOT NULL DEFAULT 7500,
    "idleTimeoutMinutes" INTEGER NOT NULL DEFAULT 15,
    "walkOutServiceFeePercent" DECIMAL(5,4) NOT NULL DEFAULT 0.0050,
    "walkOutServiceFeeFlat" INTEGER NOT NULL DEFAULT 0,
    "stripeConnectAccountId" TEXT,
    "stripeConnectOnboarded" BOOLEAN NOT NULL DEFAULT false,
    "tipDistributionMode" "TipDistributionMode" NOT NULL DEFAULT 'DIRECT',
    "tipPoolDisclaimerAt" TIMESTAMP(3),
    "absorbTipProcessingFee" BOOLEAN NOT NULL DEFAULT false,
    "cloudPrintDeviceId" TEXT,
    "cloudPrintEnabled" BOOLEAN NOT NULL DEFAULT false,
    "inviteCode" TEXT NOT NULL,
    "inventoryEnabled" BOOLEAN NOT NULL DEFAULT false,
    "forecastDayOfWeek" INTEGER NOT NULL DEFAULT 4,
    "forecastEmailEnabled" BOOLEAN NOT NULL DEFAULT false,
    "forecastEmailTo" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "restaurants_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "restaurant_staff" (
    "id" TEXT NOT NULL,
    "restaurantId" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "passwordHash" TEXT,
    "role" "UserRole" NOT NULL,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "inviteToken" TEXT,
    "inviteStatus" "InviteStatus" NOT NULL DEFAULT 'PENDING',
    "invitedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "acceptedAt" TIMESTAMP(3),
    "isKdsDevice" BOOLEAN NOT NULL DEFAULT false,
    "kdsDevicePin" TEXT,
    "stripeExpressAccountId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "restaurant_staff_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "table_assignments" (
    "id" TEXT NOT NULL,
    "restaurantId" TEXT NOT NULL,
    "tableId" TEXT NOT NULL,
    "staffId" TEXT NOT NULL,
    "assignedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "endedAt" TIMESTAMP(3),
    "isActive" BOOLEAN NOT NULL DEFAULT true,

    CONSTRAINT "table_assignments_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "dining_tables" (
    "id" TEXT NOT NULL,
    "restaurantId" TEXT NOT NULL,
    "tableNumber" TEXT NOT NULL,
    "nfcTagId" TEXT NOT NULL,
    "qrCodeUrl" TEXT,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "status" "TableStatus" NOT NULL DEFAULT 'AVAILABLE',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "dining_tables_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "menu_categories" (
    "id" TEXT NOT NULL,
    "restaurantId" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "sortOrder" INTEGER NOT NULL DEFAULT 0,
    "isVisible" BOOLEAN NOT NULL DEFAULT true,

    CONSTRAINT "menu_categories_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "menu_items" (
    "id" TEXT NOT NULL,
    "restaurantId" TEXT NOT NULL,
    "categoryId" TEXT,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "price" DECIMAL(10,2) NOT NULL,
    "imageUrl" TEXT,
    "isAvailable" BOOLEAN NOT NULL DEFAULT true,
    "allergens" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "isPopular" BOOLEAN NOT NULL DEFAULT false,
    "sortOrder" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "menu_items_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "tab_sessions" (
    "id" TEXT NOT NULL,
    "tableId" TEXT NOT NULL,
    "restaurantId" TEXT NOT NULL,
    "status" "SessionStatus" NOT NULL DEFAULT 'OPEN',
    "hostParticipantId" TEXT,
    "assignedStaffId" TEXT,
    "clearedByStaff" BOOLEAN NOT NULL DEFAULT false,
    "clearedAt" TIMESTAMP(3),
    "seatingClearedAt" TIMESTAMP(3),
    "clearedByStaffId" TEXT,
    "lastHeartbeatAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "closedAt" TIMESTAMP(3),
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "tab_sessions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "tab_participants" (
    "id" TEXT NOT NULL,
    "sessionId" TEXT NOT NULL,
    "dinerId" TEXT,
    "anonToken" TEXT,
    "displayName" TEXT NOT NULL,
    "isHost" BOOLEAN NOT NULL DEFAULT false,
    "dietaryNotes" TEXT,
    "stripeCustomerId" TEXT,
    "stripePaymentMethodId" TEXT,
    "stripePaymentIntentId" TEXT,
    "holdAmount" INTEGER,
    "holdStatus" "HoldStatus" NOT NULL DEFAULT 'NONE',
    "holdAttempt" INTEGER NOT NULL DEFAULT 0,
    "captureAttempt" INTEGER NOT NULL DEFAULT 0,
    "overflowAttempt" INTEGER NOT NULL DEFAULT 0,
    "reauthCount" INTEGER NOT NULL DEFAULT 0,
    "captureStatus" "CaptureStatus" NOT NULL DEFAULT 'PENDING',
    "capturedAmount" INTEGER,
    "capturedAt" TIMESTAMP(3),
    "overflowAmount" INTEGER,
    "overflowPaymentIntentId" TEXT,
    "overflowStatus" "CaptureStatus" NOT NULL DEFAULT 'PENDING',
    "serviceFeeCents" INTEGER,
    "taxCents" INTEGER,
    "subtotalCents" INTEGER,
    "isCashPayment" BOOLEAN NOT NULL DEFAULT false,
    "cashCollectedAt" TIMESTAMP(3),
    "cashCollectedByStaffId" TEXT,
    "manualPaymentIntentId" TEXT,
    "manualPaymentStatus" "PaymentStatus" NOT NULL DEFAULT 'NOT_STARTED',
    "tipBehavior" "TipBehavior" NOT NULL DEFAULT 'ASK',
    "resolvedTipAmount" INTEGER,
    "resolvedTipSource" "TipSource",
    "awaitingTipSince" TIMESTAMP(3),
    "tipStatus" "TipStatus" NOT NULL DEFAULT 'NOT_APPLICABLE',
    "tipPromptSentAt" TIMESTAMP(3),
    "tipPromptToken" TEXT,
    "feeAllocatedToFoodCents" INTEGER NOT NULL DEFAULT 0,
    "feeAllocatedToTipCents" INTEGER NOT NULL DEFAULT 0,
    "feeAllocatedToServiceFeeCents" INTEGER NOT NULL DEFAULT 0,
    "feeAllocatedToTaxCents" INTEGER NOT NULL DEFAULT 0,
    "tipAssignedToStaffId" TEXT,
    "tipPoolId" TEXT,
    "joinedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "departedAt" TIMESTAMP(3),
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "tab_participants_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "order_items" (
    "id" TEXT NOT NULL,
    "sessionId" TEXT NOT NULL,
    "participantId" TEXT NOT NULL,
    "menuItemId" TEXT NOT NULL,
    "unitPrice" DECIMAL(10,2) NOT NULL,
    "taxRate" DECIMAL(5,4) NOT NULL,
    "taxAmount" DECIMAL(10,2) NOT NULL,
    "quantity" INTEGER NOT NULL DEFAULT 1,
    "notes" TEXT,
    "status" "OrderItemStatus" NOT NULL DEFAULT 'PENDING',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "order_items_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "diners" (
    "id" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "passwordHash" TEXT NOT NULL,
    "phone" TEXT,
    "stripeCustomerId" TEXT,
    "stripeDefaultPaymentMethodId" TEXT,
    "autoChargeEnabled" BOOLEAN NOT NULL DEFAULT false,
    "defaultTipBehavior" "TipBehavior" NOT NULL DEFAULT 'ASK',
    "defaultIdleTimeoutMinutes" INTEGER,
    "defaultDietaryNotes" TEXT,
    "pushSubscription" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "diners_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "anon_sessions" (
    "id" TEXT NOT NULL,
    "token" TEXT NOT NULL,
    "mergedInto" TEXT,
    "expiresAt" TIMESTAMP(3) NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "anon_sessions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "tip_pools" (
    "id" TEXT NOT NULL,
    "restaurantId" TEXT NOT NULL,
    "status" "TipPoolStatus" NOT NULL DEFAULT 'OPEN',
    "shiftDate" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "totalAmountCents" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "closedAt" TIMESTAMP(3),
    "distributedAt" TIMESTAMP(3),

    CONSTRAINT "tip_pools_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "tip_pool_entries" (
    "id" TEXT NOT NULL,
    "poolId" TEXT NOT NULL,
    "participantId" TEXT NOT NULL,
    "staffId" TEXT,
    "amountCents" INTEGER NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "tip_pool_entries_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "print_jobs" (
    "id" TEXT NOT NULL,
    "restaurantId" TEXT NOT NULL,
    "type" "PrintType" NOT NULL,
    "status" "PrintStatus" NOT NULL DEFAULT 'QUEUED',
    "content" BYTEA NOT NULL,
    "metadata" JSONB NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "sentAt" TIMESTAMP(3),
    "printedAt" TIMESTAMP(3),
    "failedAt" TIMESTAMP(3),

    CONSTRAINT "print_jobs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "service_requests" (
    "id" TEXT NOT NULL,
    "sessionId" TEXT NOT NULL,
    "participantId" TEXT NOT NULL,
    "restaurantId" TEXT NOT NULL,
    "type" "ServiceRequestType" NOT NULL,
    "status" "ServiceRequestStatus" NOT NULL DEFAULT 'OPEN',
    "notes" TEXT,
    "acknowledgedAt" TIMESTAMP(3),
    "acknowledgedById" TEXT,
    "resolvedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "service_requests_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "inventory_items" (
    "id" TEXT NOT NULL,
    "restaurantId" TEXT NOT NULL,
    "menuItemId" TEXT NOT NULL,
    "unit" TEXT NOT NULL DEFAULT 'unit',
    "currentStock" DECIMAL(10,2) NOT NULL DEFAULT 0,
    "parLevel" DECIMAL(10,2) NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "inventory_items_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "stock_deliveries" (
    "id" TEXT NOT NULL,
    "restaurantId" TEXT NOT NULL,
    "deliveredAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "notes" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "stock_deliveries_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "stock_delivery_lines" (
    "id" TEXT NOT NULL,
    "deliveryId" TEXT NOT NULL,
    "itemId" TEXT NOT NULL,
    "quantity" DECIMAL(10,2) NOT NULL,

    CONSTRAINT "stock_delivery_lines_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "stock_counts" (
    "id" TEXT NOT NULL,
    "restaurantId" TEXT NOT NULL,
    "countedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "stock_counts_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "stock_count_lines" (
    "id" TEXT NOT NULL,
    "countId" TEXT NOT NULL,
    "itemId" TEXT NOT NULL,
    "quantity" DECIMAL(10,2) NOT NULL,

    CONSTRAINT "stock_count_lines_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "weekly_forecasts" (
    "id" TEXT NOT NULL,
    "restaurantId" TEXT NOT NULL,
    "weekStarting" TIMESTAMP(3) NOT NULL,
    "status" "ForecastStatus" NOT NULL DEFAULT 'DRAFT',
    "payload" JSONB NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "weekly_forecasts_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "stock_alerts" (
    "id" TEXT NOT NULL,
    "restaurantId" TEXT NOT NULL,
    "type" "StockAlertType" NOT NULL,
    "payload" JSONB NOT NULL,
    "resolvedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "stock_alerts_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "restaurants_email_key" ON "restaurants"("email");

-- CreateIndex
CREATE UNIQUE INDEX "restaurants_inviteCode_key" ON "restaurants"("inviteCode");

-- CreateIndex
CREATE UNIQUE INDEX "restaurant_staff_email_key" ON "restaurant_staff"("email");

-- CreateIndex
CREATE UNIQUE INDEX "restaurant_staff_inviteToken_key" ON "restaurant_staff"("inviteToken");

-- CreateIndex
CREATE INDEX "restaurant_staff_restaurantId_idx" ON "restaurant_staff"("restaurantId");

-- CreateIndex
CREATE INDEX "restaurant_staff_email_idx" ON "restaurant_staff"("email");

-- CreateIndex
CREATE INDEX "table_assignments_tableId_isActive_idx" ON "table_assignments"("tableId", "isActive");

-- CreateIndex
CREATE INDEX "table_assignments_restaurantId_isActive_idx" ON "table_assignments"("restaurantId", "isActive");

-- CreateIndex
CREATE UNIQUE INDEX "dining_tables_nfcTagId_key" ON "dining_tables"("nfcTagId");

-- CreateIndex
CREATE INDEX "dining_tables_restaurantId_idx" ON "dining_tables"("restaurantId");

-- CreateIndex
CREATE INDEX "dining_tables_nfcTagId_idx" ON "dining_tables"("nfcTagId");

-- CreateIndex
CREATE INDEX "menu_categories_restaurantId_idx" ON "menu_categories"("restaurantId");

-- CreateIndex
CREATE INDEX "menu_items_restaurantId_idx" ON "menu_items"("restaurantId");

-- CreateIndex
CREATE INDEX "menu_items_restaurantId_isPopular_idx" ON "menu_items"("restaurantId", "isPopular");

-- CreateIndex
CREATE INDEX "tab_sessions_tableId_idx" ON "tab_sessions"("tableId");

-- CreateIndex
CREATE INDEX "tab_sessions_restaurantId_idx" ON "tab_sessions"("restaurantId");

-- CreateIndex
CREATE UNIQUE INDEX "tab_participants_tipPromptToken_key" ON "tab_participants"("tipPromptToken");

-- CreateIndex
CREATE INDEX "tab_participants_sessionId_idx" ON "tab_participants"("sessionId");

-- CreateIndex
CREATE INDEX "tab_participants_dinerId_idx" ON "tab_participants"("dinerId");

-- CreateIndex
CREATE INDEX "tab_participants_stripeCustomerId_idx" ON "tab_participants"("stripeCustomerId");

-- CreateIndex
CREATE INDEX "tab_participants_captureStatus_idx" ON "tab_participants"("captureStatus");

-- CreateIndex
CREATE INDEX "order_items_sessionId_idx" ON "order_items"("sessionId");

-- CreateIndex
CREATE INDEX "order_items_participantId_idx" ON "order_items"("participantId");

-- CreateIndex
CREATE UNIQUE INDEX "diners_email_key" ON "diners"("email");

-- CreateIndex
CREATE UNIQUE INDEX "diners_stripeCustomerId_key" ON "diners"("stripeCustomerId");

-- CreateIndex
CREATE UNIQUE INDEX "anon_sessions_token_key" ON "anon_sessions"("token");

-- CreateIndex
CREATE INDEX "anon_sessions_expiresAt_idx" ON "anon_sessions"("expiresAt");

-- CreateIndex
CREATE INDEX "tip_pools_restaurantId_idx" ON "tip_pools"("restaurantId");

-- CreateIndex
CREATE INDEX "tip_pool_entries_poolId_idx" ON "tip_pool_entries"("poolId");

-- CreateIndex
CREATE INDEX "print_jobs_restaurantId_idx" ON "print_jobs"("restaurantId");

-- CreateIndex
CREATE INDEX "service_requests_sessionId_idx" ON "service_requests"("sessionId");

-- CreateIndex
CREATE INDEX "service_requests_restaurantId_idx" ON "service_requests"("restaurantId");

-- CreateIndex
CREATE UNIQUE INDEX "inventory_items_menuItemId_key" ON "inventory_items"("menuItemId");

-- CreateIndex
CREATE INDEX "inventory_items_restaurantId_idx" ON "inventory_items"("restaurantId");

-- CreateIndex
CREATE INDEX "stock_deliveries_restaurantId_idx" ON "stock_deliveries"("restaurantId");

-- CreateIndex
CREATE INDEX "stock_counts_restaurantId_idx" ON "stock_counts"("restaurantId");

-- CreateIndex
CREATE INDEX "weekly_forecasts_restaurantId_idx" ON "weekly_forecasts"("restaurantId");

-- CreateIndex
CREATE INDEX "stock_alerts_restaurantId_idx" ON "stock_alerts"("restaurantId");

-- AddForeignKey
ALTER TABLE "restaurant_staff" ADD CONSTRAINT "restaurant_staff_restaurantId_fkey" FOREIGN KEY ("restaurantId") REFERENCES "restaurants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "table_assignments" ADD CONSTRAINT "table_assignments_restaurantId_fkey" FOREIGN KEY ("restaurantId") REFERENCES "restaurants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "table_assignments" ADD CONSTRAINT "table_assignments_tableId_fkey" FOREIGN KEY ("tableId") REFERENCES "dining_tables"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "table_assignments" ADD CONSTRAINT "table_assignments_staffId_fkey" FOREIGN KEY ("staffId") REFERENCES "restaurant_staff"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "dining_tables" ADD CONSTRAINT "dining_tables_restaurantId_fkey" FOREIGN KEY ("restaurantId") REFERENCES "restaurants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "menu_categories" ADD CONSTRAINT "menu_categories_restaurantId_fkey" FOREIGN KEY ("restaurantId") REFERENCES "restaurants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "menu_items" ADD CONSTRAINT "menu_items_restaurantId_fkey" FOREIGN KEY ("restaurantId") REFERENCES "restaurants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "menu_items" ADD CONSTRAINT "menu_items_categoryId_fkey" FOREIGN KEY ("categoryId") REFERENCES "menu_categories"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "tab_sessions" ADD CONSTRAINT "tab_sessions_tableId_fkey" FOREIGN KEY ("tableId") REFERENCES "dining_tables"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "tab_sessions" ADD CONSTRAINT "tab_sessions_restaurantId_fkey" FOREIGN KEY ("restaurantId") REFERENCES "restaurants"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "tab_sessions" ADD CONSTRAINT "tab_sessions_assignedStaffId_fkey" FOREIGN KEY ("assignedStaffId") REFERENCES "restaurant_staff"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "tab_participants" ADD CONSTRAINT "tab_participants_sessionId_fkey" FOREIGN KEY ("sessionId") REFERENCES "tab_sessions"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "tab_participants" ADD CONSTRAINT "tab_participants_dinerId_fkey" FOREIGN KEY ("dinerId") REFERENCES "diners"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "tab_participants" ADD CONSTRAINT "tab_participants_tipAssignedToStaffId_fkey" FOREIGN KEY ("tipAssignedToStaffId") REFERENCES "restaurant_staff"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "tab_participants" ADD CONSTRAINT "tab_participants_tipPoolId_fkey" FOREIGN KEY ("tipPoolId") REFERENCES "tip_pools"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "order_items" ADD CONSTRAINT "order_items_sessionId_fkey" FOREIGN KEY ("sessionId") REFERENCES "tab_sessions"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "order_items" ADD CONSTRAINT "order_items_participantId_fkey" FOREIGN KEY ("participantId") REFERENCES "tab_participants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "order_items" ADD CONSTRAINT "order_items_menuItemId_fkey" FOREIGN KEY ("menuItemId") REFERENCES "menu_items"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "tip_pools" ADD CONSTRAINT "tip_pools_restaurantId_fkey" FOREIGN KEY ("restaurantId") REFERENCES "restaurants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "tip_pool_entries" ADD CONSTRAINT "tip_pool_entries_poolId_fkey" FOREIGN KEY ("poolId") REFERENCES "tip_pools"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "tip_pool_entries" ADD CONSTRAINT "tip_pool_entries_staffId_fkey" FOREIGN KEY ("staffId") REFERENCES "restaurant_staff"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "print_jobs" ADD CONSTRAINT "print_jobs_restaurantId_fkey" FOREIGN KEY ("restaurantId") REFERENCES "restaurants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "service_requests" ADD CONSTRAINT "service_requests_sessionId_fkey" FOREIGN KEY ("sessionId") REFERENCES "tab_sessions"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "service_requests" ADD CONSTRAINT "service_requests_participantId_fkey" FOREIGN KEY ("participantId") REFERENCES "tab_participants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "service_requests" ADD CONSTRAINT "service_requests_restaurantId_fkey" FOREIGN KEY ("restaurantId") REFERENCES "restaurants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "service_requests" ADD CONSTRAINT "service_requests_acknowledgedById_fkey" FOREIGN KEY ("acknowledgedById") REFERENCES "restaurant_staff"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "inventory_items" ADD CONSTRAINT "inventory_items_restaurantId_fkey" FOREIGN KEY ("restaurantId") REFERENCES "restaurants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "inventory_items" ADD CONSTRAINT "inventory_items_menuItemId_fkey" FOREIGN KEY ("menuItemId") REFERENCES "menu_items"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "stock_deliveries" ADD CONSTRAINT "stock_deliveries_restaurantId_fkey" FOREIGN KEY ("restaurantId") REFERENCES "restaurants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "stock_delivery_lines" ADD CONSTRAINT "stock_delivery_lines_deliveryId_fkey" FOREIGN KEY ("deliveryId") REFERENCES "stock_deliveries"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "stock_delivery_lines" ADD CONSTRAINT "stock_delivery_lines_itemId_fkey" FOREIGN KEY ("itemId") REFERENCES "inventory_items"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "stock_counts" ADD CONSTRAINT "stock_counts_restaurantId_fkey" FOREIGN KEY ("restaurantId") REFERENCES "restaurants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "stock_count_lines" ADD CONSTRAINT "stock_count_lines_countId_fkey" FOREIGN KEY ("countId") REFERENCES "stock_counts"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "stock_count_lines" ADD CONSTRAINT "stock_count_lines_itemId_fkey" FOREIGN KEY ("itemId") REFERENCES "inventory_items"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "weekly_forecasts" ADD CONSTRAINT "weekly_forecasts_restaurantId_fkey" FOREIGN KEY ("restaurantId") REFERENCES "restaurants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "stock_alerts" ADD CONSTRAINT "stock_alerts_restaurantId_fkey" FOREIGN KEY ("restaurantId") REFERENCES "restaurants"("id") ON DELETE CASCADE ON UPDATE CASCADE;


-- Partial unique indexes (cannot be expressed in Prisma schema syntax)

-- At most one active session per table
CREATE UNIQUE INDEX one_active_session_per_table
  ON tab_sessions (table_id)
  WHERE status IN ('OPEN', 'CLOSING');

-- At most one OPEN tip pool per restaurant
CREATE UNIQUE INDEX one_open_pool_per_restaurant
  ON tip_pools (restaurant_id)
  WHERE status = 'OPEN';
